body {
  /* width: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  /* font-weight: 400; */
  /* letter-spacing: -0.021em; */
  /* background-color: #fff; */
  color: #333;
  margin: 0;
  display: block;
}

.wrapper {
  margin: 0em auto;
  max-width: 910px;
  padding: 0 1em;
  /* height: 60vh; */
}

.name {
  font-size: 24px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  margin-bottom: 0.1em;
}

.headline {
  font-size: 19px;
  line-height: 1.42115;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #888;
  margin-top: 0.1em;
}

.aboutme {
  /* border-top: 1px solid #d6d6d6; */
  /* border-bottom: 1px solid #d6d6d6; */
  text-align: center;
  /* background-color: #fafafa; */
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 300;
  letter-spacing: -0.021em;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin: 0 auto;
  margin-top: calc(30vh - 130px);
  /* position: relative; */
}
.projects {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin: auto; */
}
.project {
  height: 160px;
  width: 30.6666666667%;
  float: left;
  /* padding: 2em; */
  margin-left: 4%;
  border-radius: 0.5em;
  transition: all 0.5s linear;
  filter: drop-shadow(5px 5px 10px #666);
  text-align: center;
}

.project:first-child {
  margin-left: 0;
}
.project svg {
  width: 4em;
  fill: white;
  margin-bottom: 1em;
  margin-top: 2em;
}
.project p {
  font-size: 1em;
  font-weight: 500;
  backface-visibility: hidden;
}

.project a {
  text-decoration: none;
  color: white;
  display: block;
}
.project:hover {
  transform: scale3d(1.2, 1.2, 1);
}
.github {
  background: #24292e;
}

.twitter {
  background: #1da1f2;
}

.linkedin {
  background: #0077b5;
}

@media (max-width: 767px) {
  .hero-section h1 {
    font-size: 19px;
  }
  .hero-section h2 {
    font-size: 14px;
  }
  .hero-section {
    margin-bottom: 150px !important;
  }
  .project {
    width: 90%;
    margin: 1rem;
  }
  .project:first-child {
    margin: 1rem;
  }
  .aboutme {
    font-size: 14px;
  }
  img.avatar {
    height: 125px;
  }
  .avatar {
    margin-top: calc(30vh - 62.5px);
    border: 2px solid #ffffff;
  }
}

.hero-section {
  background: url('./assets/IMG_0913_blur.jpg') 50% no-repeat;
  background-size: cover;
  height: 30vh;
  text-align: center;
  margin-bottom: 220px;
  /* display: -webkit-flex; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* flex-direction: column; */
  /* -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; */
  /* -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); */
}

footer {
  padding: 80px 0 50px;
  background-color: #252a30;
  color: #fff;
  text-align: center;
}
